#parrafosinmas{
    left: 50px;
    top: 50px;

}
#primero{
    left: 0px;
    top: 0px;
}
#antonio{
    left:100px;
    top: 100px;
}
#luque{
    left:150px;
    top: 150px;
}
*{
    position: absolute;
}