label{
  display: block;
}
form{
  padding: 15px;
}
#cajaGatito>form>input,select{
  margin: 15px;
  margin-left: 20px;
  display: block;
}
*{
  list-style: none;
}
#cajaGatito>form>ul>li{
  padding: 10px;
}