*{
  color: white;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  width: 9em;
  margin: 0 auto;
}

body{
  text-align: center;
  background:url("../img/negro.png"), url("../img/fondoIndex2.jpg")  no-repeat;
  background-attachment: fixed;

  background-size: cover;
}

footer{
  font-size:0.75em;
  background-color: #6B8E23;
  padding: 0.5em;
  line-height: 1.3em;
}
footer img{
  margin-top: 0.3em;
  width: 10%;
}

form{
  text-align: center;
  max-width: 20em;
  margin: 2em auto;
  padding: 2em 0;
  background-color: rgba(255,255,255,0.3);
}

form input{
  color: white;
  margin: 0.3em;
  background:rgba(0,0,0,0.7);
  flex: 2;
  max-width: 8em;
  margin-right: 1em;
  border: 1px inset white;
}

form p{
  display: flex;
  margin: 0.3em auto;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 18em;
}

form label{
  font-weight: bold;
  color: #6B8E23;
  flex: 1;
  max-width: 8em;
  align-self: center;
  text-align: left;
  padding-left: 1em;
  text-shadow: 3px 3px 2px black;
}

h1{
  font-size: 4em;
  color: #6B8E23;
  text-shadow: 2px 2px 4px black;
}

li{
  padding: 0.9em;
  transition: 1s all;
}

li:hover{
  background-color: #808000;
  color: black;
}
main{
  margin: 0 1em;
}

nav{
  background-color: rgba(129,145,66,0.7);
}

ul{
  list-style: none;
  padding: 0;
}

#enviar{
  padding: 0.6em;
}

[placeholder]{
  color: white;
}
@media screen and (min-width:480px){
  body{
		background: url("../img/negro.png"), url("../img/fondoIndex3.jpg") no-repeat;
		background-size: space;
		padding: 0;
	}
	h1{
		font-size: 300%;
	}
	button{
		font-size: 160%;
	}
  li{
    display: inline-block;
  }
}
@media screen and (min-width:768px){
  body{
		padding: 0;
    background-position-x: 0;
	}
  
  footer{
    font-size: 1em;
  }
  footer img{
    width: 4%;
  }
  
  form{
    padding: 2em;
    max-width: 30em;
  }

  form p{
    margin: 1em auto;
  }
  
}